[mysqld]
#
# * Basic Settings
#
user            = mysql
# pid-file      = /var/run/mysqld/mysqld.pid
# socket        = /var/run/mysqld/mysqld.sock
# port          = 3306
# datadir       = /var/lib/mysql
# tmpdir                = /tmp
bind-address            = {{ mysql_bind_address }}
mysqlx-bind-address     = {{ mysql_bind_address }}
key_buffer_size         = 16M
# max_allowed_packet    = 64M
# thread_stack          = 256K
# thread_cache_size       = -1
# max_connections        = 151
# table_open_cache       = 4000
# general_log_file        = /var/log/mysql/query.log
# general_log             = 1
log_error = /var/log/mysql/error.log
# slow_query_log                = 1
# slow_query_log_file   = /var/log/mysql/mysql-slow.log
# long_query_time = 2
# log-queries-not-using-indexes
# server-id             = 1
# log_bin                       = /var/log/mysql/mysql-bin.log
# binlog_expire_logs_seconds    = 2592000
max_binlog_size   = 100M
# binlog_do_db          = include_database_name
# binlog_ignore_db      = include_database_name

